<div class='todo-container'>
  <form class='todo-add'>
    <Input placeholder='Write a todo...' @value={{this.newTodo}} />
    <button type="submit" {{on 'click' this.createTodo}}>Add Todo</button>
  </form>
  <div class='todo-list'>
    <ul>
      {{#each this.todoList as |todo|}}
        <div class='todo-item'>
          <li>{{todo}}</li>
          <img
            src='assets/images/cancel.png'
            alt='cancel'
            {{on 'click' (fn this.deleteTodo todo)}}
          />
        </div>
      {{/each}}
    </ul>
  </div>
  <div class='todo-all-clear'>
    <button type="button" {{on 'click' this.clearAll}}>Clear all</button>
  </div>
</div>
